@model _06_WebApp_RazoePage.RazorPage.ViewModels.Tickets.CrudTicketViewModel
<form asp-page="Register" method="post" id="register-form" class="register-form">
	<input type="hidden" asp-for="CustomerId" />
	<input type="hidden" asp-for="MovieId" />
	<input type="hidden" asp-for="RegisterDate" />
	<div class="mt-3">
		<label asp-for="CustomerName"></label>
		<input asp-for="CustomerName" class="form-control" disabled="disabled" />
	</div>
	<div class="mt-3">
		<label asp-for="NationalCode"></label>
		<input asp-for="NationalCode" class="form-control" disabled="disabled" />
	</div>
	<div class="mt-3">
		<label asp-for="ResevationDate"></label>
		<input asp-for="ResevationDate" class="form-control" data-jdp data-jdp-only-date readonly="readonly" id="revervation-date" />
		<span asp-validation-for="ResevationDate" class="text-danger"></span>
	</div>
	<div class="mt-3 text-start">
		<button class="btn btn-success">
			<i class="bi bi-save"></i>
			رزرو بلیت
		</button>
		<a class="btn btn-warning" id="change-customer-btn">
			<i class="bi bi-arrow-right-circle"></i>
			انتخاب مشتری دیگر
		</a>
	</div>
</form> 