@page "{id?}"
@model _06_WebApp_RazoePage.RazorPage.Pages.Tickets.DeleteModel
@{
	ViewBag.Title = "حذف بلیت";
	ViewBag.CssTitle = "danger";
	LinkViewModel linkViewModel = new LinkViewModel()
	{
		ButtonCaption = "حذف",
		ButtonCssClass = "danger",
		Caption = "لیست بلیت ها",
		PageName = "Index"
	};
}
<form method="post" id="register-form" class="register-form">
	<input type="hidden" asp-for="DeleteEntityViewModel.Id" />
	<input type="hidden" asp-for="DeleteEntityViewModel.CustomerId" />
	<input type="hidden" asp-for="DeleteEntityViewModel.MovieId" />
	<div class="mt-3">
		<label asp-for="DeleteEntityViewModel.CustomerName"></label>
		<input asp-for="DeleteEntityViewModel.CustomerName" class="form-control" disabled="disabled" />
	</div>
	<div class="mt-3">
		<label asp-for="DeleteEntityViewModel.NationalCode"></label>
		<input asp-for="DeleteEntityViewModel.NationalCode" class="form-control" disabled="disabled" />
	</div>
	<div class="mt-3">
		<label asp-for="DeleteEntityViewModel.Title"></label>
		<input asp-for="DeleteEntityViewModel.Title" class="form-control" disabled="disabled" />
	</div>
	<div class="mt-3">
		<label asp-for="DeleteEntityViewModel.RegisterDate"></label>
		<input asp-for="DeleteEntityViewModel.RegisterDate" class="form-control" disabled="disabled" /> 
	</div>
	<div class="mt-3">
		<label asp-for="DeleteEntityViewModel.ResevationDate"></label>
		<input asp-for="DeleteEntityViewModel.ResevationDate" class="form-control" disabled="disabled" /> 
	</div>
	<partial name="LinkView" model="@linkViewModel" />
</form>
