.movie-image-container {
	height: 20rem;
}

#movie-image {
	display: none;
	width: 100%;
	height: 16rem;
	object-fit: contain;
}

.movie-image-section {
	height: 18rem;
	display: block;
}

#input-file {
	opacity: 0;
}

.suggestion-tags-list {
	width: 100%;
	height: auto;
	min-height: 0;
	max-height: 8rem;
	background-color: #fff;
	border-radius: .3rem;
	border: 1px solid #ccc;
	margin: 0 0 1rem 0;
	overflow-y: scroll;
	position: relative;
	bottom: -2.5rem;
	right: 0;
	z-index: 2;
	opacity: 0.0;
	transition: .4s ease-in;
}

	.suggestion-tags-list p {
		transition: .3s ease-out;
	}

		.suggestion-tags-list p:hover {
			background-color: #f7ac34;
			cursor: pointer;
		}

.selected-tags-list {
	height: auto;
	margin-top: 1rem;
	transition: .4s ease-in;
	position: relative;
	opacity: 0.0;
	bottom: -2rem;
}

	.selected-tags-list p {
		display: inline-block;
		padding: .5rem;
		margin-left: 1rem;
		transition: .3s ease-in;
		position: relative;
		opacity: 0.0;
		bottom: -2rem;
	}

		.selected-tags-list p i {
			cursor: pointer;
		}

.movie-aside-list {
	height: auto;
	width: 100%;
}

.movie-aside-link {
	width: 90%;
	height: 17rem;
	display: block;
	border-radius: .6rem;
	margin: 0 auto;
	margin-bottom: 1.4rem;
	position: relative;
	transition: .3s ease-out;
	opacity: 0.9;
	padding: .5rem;
}

	.movie-aside-link:hover {
		transform: scale(1.04);
		opacity: 1;
	} 

	.movie-aside-link:hover h6 {
		bottom: 3rem;
	}

	.movie-aside-link::after {
		width: 100%;
		height: 60%;
		content: '  ';
		display: block;
		position: absolute;
		bottom: 0;
		right: 0;
		border-radius: .6rem;
		background: linear-gradient(0deg, #000 0%, transparent 100%);
		z-index: 1; 
	}

	.movie-aside-link img {
		width: 100%;
		height: 100%;
		border-radius: .6rem;
		object-fit: cover;
		position: relative;
		z-index: 1;
	}

	.movie-aside-link h6 {
		width: 100%;
		position: absolute;
		bottom: 2rem;
		z-index: 2;
		color: #fff;
		font-size: 1rem;
		font-weight: 900;
		text-align: center;
		transition: .3s ease-out;
		padding: 0 .3rem;
	}

	.movie-aside-link p {
		width: 100%;
		text-align: center;
		color: #fff;
		position: absolute;
		z-index: 2;
		bottom: -.3rem;
		transition: .3s ease-out;
	}
