@page
@model _06_WebApp_RazoePage.RazorPage.Pages.Error.IndexModel
@{
	ViewBag.Title = "خطا در اجرای درخواست";
	ViewBag.CssTitle = "danger";
}
<h6 class="alert alert-danger">خطای 404 | صفحه مورد نظر یافت نشد</h6>